body {
  background: #7a7b7c;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.app {
    width: 100%;
    display: flex;
}

.dashboard{
    width: 100%;
    /* display: flex; */
}

iframe {
    background: white;
    border: 0;
    height: 100%;
    width: 100%;
}

textarea {
    background: #333;
    resize: none;
    width: 100%;
    height: 100%;
}

textarea:focus {
    outline: 0
}

.editor{
    background: #333;
    position: relative;
}
.editor::after{
    content: '';
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 10;
    width: 50px;
    height: 46px;
}

.html::after {
    background: url('../src/img/html5.svg');
    background-repeat: no-repeat;
}

.js::after {
    background: url('../src/img/js.svg');
    background-repeat: no-repeat;
}

.css::after {
    background: url('../src/img/css.svg');
    background-repeat: no-repeat;
}

.download::after {
    background: url('../src/img/css.svg');
    background-repeat: no-repeat;
    z-index: 10000;
}



/*---------------------------ICONS CSS---------------------------*/
/* profile */
.gg-profile,
.gg-profile::after,
.gg-profile::before {
    display: block;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 100px
}
.gg-profile {
    overflow: hidden;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    position: relative
}
.gg-profile::after,
.gg-profile::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 5px;
    width: 8px;
    height: 8px
}
.gg-profile::after {
    border-radius: 200px;
    top: 11px;
    left: 0px;
    width: 18px;
    height: 18px
}
/* code */
.gg-code-slash {
    display: block;
    position: relative;
    box-sizing: border-box;
    transform: rotate(15deg) scale(var(--ggs,1));
    width: 2px;
    height: 16px;
    background: currentColor
}
.gg-code-slash::after,
.gg-code-slash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    transform: rotate(-60deg)
}
.gg-code-slash::before {
    border-left: 2px solid;
    border-top: 2px solid;
    left: -8px;
    top: 5px
}
.gg-code-slash::after {
    border-right: 2px solid;
    border-bottom: 2px solid;
    right: -8px;
    top: 3px
}
.gg-software-download {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 6px;
    border: 2px solid;
    border-top: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-top: 8px
}

.gg-software-download::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    left: 2px;
    bottom: 4px
}

.gg-software-download::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 10px;
    background: currentColor;
    left: 5px;
    bottom: 5px
}
/*-------------------------------------------*/